page-transfer-page-04 {

hr {
    border: 2px solid red !important;
    height: 10px !important;
    width: 500px !important;
    background: blue !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    }

}
