page-etiquetado-series {
    .etq03-card-col{
        padding: 0px !important;
    }

    .etq03-card-label{
        margin: 0px !important;
    } 

    .customIcon{
        font-size: 1.7em;
        
    } 
}
