page-inventario-page-02 {

    .iv02-card-col{
        padding: 0px !important;
    }

    .iv02-card-label{
        margin: 0px !important;
    }

    .bg-process{
        background: yellow;
     }

     .bg-no-started{
        background: lightgray;
     }
     .label-color{
        width: 0.1%;
        max-width: 0.1%;
    }

    // .box-counter{
    //     border-radius: 5px;
    //     border: 1px solid #e6e9ee;
    //     padding: 5px;
    //     text-align: center;
    //  }

    .bg-gray{
        background-color: gray;
    }
}
