page-recibo-page-04 {
    .rec04-card-col{
        padding: 0px !important;
     }
  
     .rec04-card-label{
        margin: 0px !important;
     }

     .button-outline-md{
        border-color: transparent !important;
      }
}
