page-pallets-transito {

    .statico{
        position: sticky; //sticky
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    // .colorItem{
    //     background-color: #d8e2f4 !important;        
    //     border-bottom:solid!important;
    //     border-bottom-color:#C3C2C9!important; 
    // }

    // .colorInput{
    //     background-color: #d8e2f4 !important;  
    //     outline: none;
    //     background-color: #dfe;
    //     border: 0;
    // }

    //No espacios a la derecha ni borde inferior - IonInput
    // .item-md.item-block .item-inner {
    //     padding-right: 0px !important;
    //     border-bottom: none !important;
    // }
    // .no-padding-left {
    //     padding-left: 0px !important;
    // }

}
