page-reabastecimiento-almacenaje {
    .parrafo{
        background-color:red;
        color: white;
    }
    
        .plomo{
            background: #A4A4A4;
        }
    
        .amarillo{
            background: #FFFF00;
        }
    
        .verde{
            background: #04B404;
        }

}
