<!--
  Generated template for the EtiquetadoPage_02Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header no-border>
  <ion-navbar>
    <ion-title>ETIQUETADO</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
    <ion-toolbar no-padding no-margin color="primary">
        <ion-grid style="padding: 0px;">
            <ion-row no-padding no-margin>
                <ion-col col-12 no-padding no-margin>
                    <ion-navbar no-padding no-margin>
                        <ion-label style="font-size: 15px; color: white; font-weight:bold;">ETIQUETADO</ion-label>
                    </ion-navbar>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content class="bgLightBlue">
  <!-- Original -->
  <ion-grid class="bgLightBlue">
    <ion-row align-items-center class="bgLightBlue">
      <ion-col col-3 col-sm item-inner class="no-padding-bottom-top">
        <ion-label style="padding-left: 0px; font-weight:bold; margin-top: 0px; margin-bottom: 0px;">Cuenta:</ion-label>
      </ion-col>
      <ion-col col-9 col-sm>
          <ion-select [(ngModel)]="IdCuenta" interface="action-sheet" #selectFormat (ionChange)="onChange($event)">
            <ion-option *ngFor="let cuenta of listCuentaAlmac" value="{{ cuenta.Id_Cuenta }}">{{ cuenta.NombreCuenta }}</ion-option>
          </ion-select>
        
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="no-padding-bottom-top" col-3 col-sm>
        <ion-label class="fieldForm valueHeader">Cuenta:</ion-label>
      </ion-col>
      <ion-col class="no-padding-bottom-top" col-9 col-sm>
        <ion-item>
          <ion-label style="visibility: hidden;">
            Cuenta:
          </ion-label>
          <ion-select [(ngModel)]="IdCuenta">
            <ion-option *ngFor="let cuenta of listCuentaAlmac" value="{{ cuenta.Id_Cuenta}}">{{ cuenta.NombreCuenta }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row class="bgLightBlue">
      <ion-col class="no-padding-bottom-top">
        <ion-label >Buscar:</ion-label>
      </ion-col>
    </ion-row> -->


    <ion-row radio-group [(ngModel)]="tipoFiltro" class="bgLightBlue" (ionChange)="onChangeRadio($event)">

      <ion-col color="primary">
        <ion-item class="bgLightBlue" >
          <!-- <ion-label class="valueHeader">Código</ion-label> -->
          <ion-label >Código</ion-label>
          <ion-radio  mode="md" item-left value="1"></ion-radio>
        </ion-item>
      </ion-col>

      <ion-col >
        <ion-item class="bgLightBlue">
          <ion-label >Descripción</ion-label>
          <ion-radio mode="md" item-left value="2"></ion-radio>
        </ion-item>
      </ion-col>

      <ion-col >
        <ion-item class="bgLightBlue">
          <ion-label >EAN13</ion-label>
          <ion-radio mode="md" item-left value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="bgLightBlue">
      <ion-col  col-10 col-sm>
        <ion-list>
          <ion-item class="transparent no-padding-left">
            <ion-input #txtFiltro placeholder="Ingrese texto" [(ngModel)]="filterText" clearInput ></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- <ion-col col-2 col-sm>
        <button ion-button only-icon small (click)="filtrarProducto()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col> -->

      <ion-col class="no-padding-bottom-top" col-2 col-sm>
        <button ion-button block outline only-icon (click)="filtrarProducto()">
          <ion-icon name="search" class="lupa"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Fin original -->

  <ion-card *ngFor="let obj of listFilter">
    <ion-card-content no-padding (click)="selectCard(obj)">
      <ion-grid>
        <ion-row>
          <ion-col col-11 col-sm>
            <ion-row>
              <ion-col class="etq-card-col" col-5 col-sm>
                <ion-label class="etq-card-label fieldForm">Código:</ion-label>
              </ion-col>
              <ion-col class="etq-card-col" col-7 col-sm>
                <ion-label class="etq-card-label">{{ obj.Codigo }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="etq-card-col" col-5 col-sm>
                <ion-label class="etq-card-label fieldForm">Descripción:</ion-label>
              </ion-col>
              <ion-col class="etq-card-col">
                <ion-label class="etq-card-label">{{ obj.Descripcion }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="etq-card-col" col-5 col-sm>
                <ion-label class="etq-card-label fieldForm">Und. Medida:</ion-label>
              </ion-col>
              <ion-col class="etq-card-col" col-7 col-sm>
                <ion-label class="etq-card-label">{{ obj.UM }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-1 col-sm align-self-center>
            <!-- <button ion-button icon-only> -->
            <ion-icon name="checkmark"></ion-icon>
            <!-- </button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="bgLightBlue">
  <ion-grid>
    <ion-row>
      <ion-col col-2 col-sm>
        <div class="fieldForm">Total</div>
      </ion-col>
      <ion-col col-9 col-sm>
        <div class="fieldForm"> {{ rowCount }} fila(s) </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>