page-etiquetado-page-02 {

    ion-radio{
        margin: 0px !important;
        padding-right: 10px;
    }

    .etq-card-col{
        padding: 0px !important;
    }

    .etq-card-label{
        margin: 0px !important;
    }

    ion-select{
        max-width: 100% !important;
    }

    .item-inner{
        border-bottom: none !important;
    }

    .transparent{
        background: transparent !important;
    }

    .no-padding-left{
        padding-left: 0% !important;
    }

    .button-outline-md{
        border-color: transparent !important;
    }    

    .no-padding-bottom-top{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .col {
        padding: 0px !important; 
    }

    .label-md {
        margin-top: 0px !important;
        margin-right: 8px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
    }
}