page-detalle-picking {

    .plomo{
        background: #A4A4A4;
    }

    .amarillo{
        background: #FFFF00;
    }

    .verde{
        background: #04B404;
    }

    .statico{
        position: sticky; //sticky
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

}
