// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.sgaaBackcolor{
    background: #55acee;
}
.sgaaGrad {
    background-image:-webkit-gradient(linear, 50% 0%, 70% 100%, color-stop(0%, #ffffff),     color-stop(100%, #488aff));
  }
  .sgaaTitleBackcolor{
    background: #054B77;
  }


    ion-content{
      font-size: 90%;
    }
    
    .subtitleForm {
        padding-left: 1.5% !important;
        padding-bottom: 1% !important;
        margin: 0% !important;
    }

    .textHeader{
        color: #ffff00 !important;
        font-weight: bold;
    }

    .valueHeader{
        color: white !important;
    }

    .headerRow{
        background-color: #3878be !important;        
    }

    .fieldForm{
        font-weight: bold;
    }

    .bgHeader{
        background-color: #3878be !important;        
    }

    .bgLightBlue{
        background-color: #d8e2f4;
    }

    .bgWhite{
        background-color: whitesmoke;
    }

    .bgRed{
        background-color: red;
    }

    .bgYellow{
        background-color: #ffff00;
    }

    .borderSolid{
        border: 1px solid #0000001a;
    }
    
  @import 'themes/bootstrap';
  @import 'themes/dark';
  @import 'assets/icons';