page-transfer-page-02 {

    .bg-confirm{
        background-color: gray;
     }
     
    .bg-pendient{
        background-color: gray;
     }

    .bg-process{
        background: yellow;
     }

    .bg-checked{
        background: green;
     }

    .box-counter{
        border-radius: 5px;
        border: 1px solid #e6e9ee;
        padding: 5px;
        text-align: center;
    }

    .label-color{
        width: 0.1%;
        max-width: 0.1%;
    }

    .tf02-card-col{
        padding: 0px !important;
    }

    .tf02-card-label{
        margin: 0px !important;
    }
}