page-recibo-page-02 {
   .label-color{
      width: 0.1%;
      max-width: 0.1%;
   }

   .bg-confirm{
      background-color: gray;
   }

   .bg-process{
      background: yellow;
   }

   .bg-finalizado{
      background-color: #04B404;
   }

   .rec02-card-col{
      padding: 0px !important;
   }

   .rec02-card-label{
      margin: 0px !important;
   }

   .button-outline-md{
      border-color: transparent !important;
  }

  .statico{
   position: sticky; //sticky
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}
   
}
