page-recibo-page-02 {
   .label-color{
      width: 0.1%;
      max-width: 0.1%;
   }

   .bg-confirm{
      background-color: gray;
   }

   .bg-process{
      background: yellow;
   }

   .rec02-card-col{
      padding: 0px !important;
   }

   .rec02-card-label{
      margin: 0px !important;
   }

   .button-outline-md{
      border-color: transparent !important;
  }

   //  .headerCard{
   //      color: blue;
   //      font-weight: bold;
   //      font-size: 100%;
   //  }

    // .panel-body{
    // //     height:100px;
    //      overflow:scroll;
    //  } 

   //  .datatable-header {
   //      //background: rgba(164, 192, 214,1);
   //      background: #3878be; //nuevo color de fondo
   //      padding: 1em 0 0 1em;
   //   }
  
   //   .datatable-header-cell {
   //      color: #ffffff; //nuevo color
   //      font-size: 1.2em;
   //      font-weight: bold;
   //   }
  
   //   .datatable-body-row {
   //      padding: 0;
   //   }
  
   //   .datatable-row-even {
   //      background: rgba(240, 240, 240, 1);
   //   }
  
   //   .datatable-row-odd {
   //      background: rgba(255, 255, 255,1);
   //   }
  
   //   .datatable-body-cell {
   //      //font-size: 1.2em;
   //      font-size: 1.0em;
   //      padding: 1em;
   //   }
  
  
   //   // Style footer appearance
   //   .datatable-footer {
   //      background: rgba(218, 226, 234,1);
   //      padding: 0 1em 0 1em;
  
   //      .pager {
   //         li {
   //              padding: 0 1em !important;
  
   //              a {
   //                 color: rgba(68, 68, 68, 1);
   //                 text-decoration: none;
   //              }
   //           }
   //      }
   //   }
  
   //   // Style rules for the footer pagination elements
   //   .datatable-icon-done-all:before {
   //      content: ">>";
   //   }
  
   //   .datatable-icon-left:before {
   //      content: "<";
   //   }
  
   //   .datatable-icon-right:before {
   //      content: ">";
   //   }
  
   //   .datatable-icon-skip:before {
   //      content: ">>";
   //   }
  
   //   .datatable-icon-prev:before {
   //      content: "<<";
   //   }
}
