page-otra-ubicacion {
    .item-md{
        padding-left: 0px !important;
    }

    ion-select{
        max-width: 100% !important;
    }

    .select-md {
        padding: 5px 8px 5px 16px;
    }

    ion-radio{
        margin: 0px !important;
        padding-right: 10px;
    }

    .label-md {
        margin: 5px 8px 5px 0;
    }
    
    .statico{
        position: sticky; //sticky
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .item-md.item-block .item-inner {
        padding-right: 0px !important;
        border-bottom: none !important;
    }
    .no-padding-left {
        padding-left: 0px !important;
    }

    .input-borde1{        
        border-bottom: 1px solid #dedede;
    }


    .input-has-focus{
        border-bottom: 1px solid #054B77;
      }
}
