<!--
  Generated template for the EmbalajePage_03Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sgaaTitleBackcolor" no-border>

    <!-- <ion-navbar >
      <ion-title >
          <ion-icon name="clipboard"></ion-icon>
        Recibo<
      </ion-title>
    </ion-navbar> -->
    <ion-toolbar no-border-top>
      <ion-navbar>
        <ion-title>         
          Detalle Pedido
        </ion-title>
      </ion-navbar>
      <ion-buttons start>
        <button ion-button icon-only (click)="getDataDetBultosEmbalaje()">
          <ion-icon name="refresh"></ion-icon>
        </button>
        <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
          </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
  
    
      <ion-grid class="bgHeader">        
          <ion-row align-items-center>
            <ion-col col-4 col-sm>
              <div class="textHeader">N° Orden:</div>
            </ion-col>
            <ion-col col-8 col-sm>
              <div class="valueHeader">{{ vEmbalajePage02.NumOrden }}</div>
            </ion-col>
          </ion-row>
          <ion-row align-items-center>
              <ion-col col-4 col-sm>
                <div class="textHeader">Cliente:</div>
              </ion-col>
              <ion-col col-8 col-sm>
                <div class="valueHeader">{{ vEmbalajePage02.Cliente }}</div>
              </ion-col>
          </ion-row>         
      </ion-grid>     

  <!-- Start:  data-binding list -->
  <ion-row class="bgLightBlue">
      <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-row>
  
  <ion-row class="bgWhite">
    <ion-card *ngFor="let objDetEmbalaje of listAuxDetEmbalaje" (press)="getRegistrarIncidencia(objDetEmbalaje)">  
      <ion-grid>
        <ion-row>          
          <ion-col col-1 col-sm 
          [ngClass]=filterItemsEstado2(objDetEmbalaje)>
          </ion-col>           
          <!-- <ion-col *ngIf = "objDetEmbalaje.Saldo==0;else activo" col-1 col-sm class='label-color verde'></ion-col>           
          <ng-template #activo>
            <ion-col col-1 col-sm class='filterItemsEstado2()'></ion-col>
          </ng-template>                                      -->

                 
          <ion-col col-10 col-sm>                        
          <ion-card-content no-padding>
            <h5>{{objDetEmbalaje.Producto}}</h5>
            <h5><b>Codigo: </b> {{objDetEmbalaje.Codigo}}</h5>            
            <h5><b>Lote: </b> {{objDetEmbalaje.Lote}}</h5>
            <h5><b>C.Pedida: </b> {{objDetEmbalaje.CantidadPedida|number : '1.2-2' }}</h5>            
            <h5><b>C.Picking: </b> {{objDetEmbalaje.CantidadOperacion|number : '1.2-2' }}</h5>                        
            <h5><b>C.Despachada: </b> {{objDetEmbalaje.CantidadDespacho|number : '1.2-2' }}</h5>                        
            <h5><b>Saldo: </b> {{objDetEmbalaje.Saldo|number : '1.2-2' }}</h5>                        
          </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card>
  </ion-row>
  </ion-content>
  
  <ion-footer class="bgLightBlue">
    <ion-grid>
        <ion-row>
            <ion-col col-6 col-sm class="right">
                <div class="fieldForm">Total:</div>
            </ion-col>
            <ion-col col-6 col-sm class="left">
                <div class="fieldForm"> {{ rowCount }} fila(s) </div>
            </ion-col>
        </ion-row>
        <ion-row class="center">
            <ion-col col-4 col-sm>
                <button ion-button class="gris negro"> {{ rowCountPendiente }} </button>
            </ion-col>
            <ion-col col-4 col-sm>
                <button ion-button class="amarillo negro"> {{ rowCountEnProceso }} </button>
            </ion-col>
            <ion-col col-4 col-sm>
                <button ion-button class="verde negro"> {{ rowCountCompleto }} </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-toolbar color="primary">
      <ion-buttons left>
          <button ion-button icon-only  (click)="cerrarDespacho()">
              <ion-icon name="md-checkmark"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons class="center">
        <button ion-button icon-only (click)="goToEmbalajePage08()">
            <ion-icon name="md-print" ></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons right>
        <button ion-button icon-only small (click)="goToEmbalajePage04()">
            <ion-icon name="md-cube"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
