page-embalaje-page-03 {
    .center{
        text-align: center;
    }
    .right{
        text-align: right;
    }
    .center{
        text-align: center;
    }
    .amarillo{
        background-color:yellow;
    }
    .negro{
        color:black;
    }

    .verde{
        background-color:rgb(139, 195, 74);
    }

    .gris{
        background-color:lightgray;
    }
}
