page-main-menu {

    .btn {
      background-color: RoyalBlue; //#e61919;
      border: none;
      color: white;
      padding: 25px 29px;
      font-size: 100%;//16px;
      cursor: pointer;
      border-radius: 50%;
    }
      
    /* Darker background on mouse-over */
    .btn:hover {
      background-color: #e61919; //RoyalBlue;
    }
    
    .text {
      padding-top: 0.1%;
      font-family: "Helvetica Neue", Helvetica, 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding-left: 1.3333%;
      font-size:1.8rem;
    }
    
    // .text:hover
    // {
    //   cursor: pointer;
    //   color: #1565C0;
    // }

    .margin-text-circle-button{
      margin: 5px 0px 15px 0px;
    }

    .Icono {
      // background-color: #e61919;
      font-size:280%;
    }

    .Fondo{
      background-color: #D6D0D0; //#BAB8B8
    }
}
