page-embalaje-page-04 {
    .centroIzquierda{
        position: absolute;
        top: 11px;
        left: 120px;
    }
    .centroDerecha{               
        position: absolute;
        top: 12px;
        left: 220px;
    }
}
