page-embalaje-page-02 {
    .headerCard{
        color: blue;
        font-weight: bold;
        font-size: 100%;
    }

    .label-color{
        width: 0.1%;
        max-width: 0.1%;
     }
  
     .bg-confirm{
        background-color: gray;
     }
  
     .bg-process{
        background: yellow;
     }
}
