page-embarque-page-05 {
    .emb05-card-col{
        padding: 0px !important;
    }

    .emb05-card-label{
        margin: 0px !important;
    }

    .inline-block-button{
        display: inline-block;
    }
    
    .selected-tab{ 
        color: white !important;
    }

    .unselected-tab{
        color: gray !important;
    }
}
