<!--
  Generated template for the EtiquetadoPage_01Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-navbar>
      <ion-title>etiquetado-page-01</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
    <ion-buttons start>
      <button ion-button (click)="dismiss()" [hidden]="isVisibleSearchButton">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name='md-close'></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--
     <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
        recibo-page-02
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
-->

<ion-content>
  <ion-grid class="bgHeader borderSolid">
    <ion-row>
      <ion-col col-sm>
        <!-- Fila 01 -->
        <ion-row align-items-center>
          <ion-col col-6 col-sm>
            <div class="textHeader">Código</div>
          </ion-col>
          <ion-col col-6 col-sm class="valueHeader">
            {{ vEtq.Codigo }}
          </ion-col>
        </ion-row>
        <!-- Fila 02 -->
        <ion-row align-items-center class="valueHeader">
          <ion-col col-12 col-sm>
            <div>{{ vEtq.Articulo }}</div>
          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col col-2 col-sm [hidden]="!isVisibleSearchButton">
        <button ion-button block outline only-icon (click)="goToEtqPage02()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>    
  </ion-grid>

  <ion-grid class="bgWhite borderSolid">
    <!-- Fila 01 -->
    <ion-row  align-items-center>
      <ion-col col-3 col-sm>
        Lote
      </ion-col>
      
      <ion-col col-6 col-sm>
        <ion-item>
            <ion-input type="Text" placeholder="Lote" [(ngModel)]="lote" [disabled]="!isEnabledLote" ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-3 col-sm>
        {{ this.vEtq.UM }}
      </ion-col>
    </ion-row>

    <!-- Fila 02 -->
    <ion-row align-items-center>
      <ion-col col-3 col-sm>
        F.E
      </ion-col>
      <ion-col col-1 col-sm>
          <ion-checkbox [(ngModel)]="fecEmiChecked" [disabled]="!isEnabledLote"></ion-checkbox>
      </ion-col>
      <ion-col col-8 col-sm>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="this.fecEmi" [disabled]="!fecEmiChecked"></ion-datetime>
      </ion-col>
      <ion-col col-3 col-sm>
        F.V
      </ion-col>
      <ion-col col-1 col-sm>
          <ion-checkbox [(ngModel)]="fecVenChecked" [disabled]="!isEnabledLote"></ion-checkbox>
      </ion-col>
      <ion-col col-8 col-sm col-md-12>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="this.fecVen" [disabled]="!fecVenChecked"></ion-datetime>
      </ion-col>
    </ion-row>

    <!-- Fila 03 -->
    <ion-row align-items-center >
      <ion-col col-5 col-sm item-inner>
        UA alternativa
      </ion-col>
      <ion-col col-7 col-sm>
        <!--<ion-select  interface="action-sheet">
            <ion-option value="mute_15">For 15 Minutes</ion-option>
            <ion-option value="mute_1">For 1 Hour</ion-option>
            <ion-option value="mute_23">For 24 Hours</ion-option>
            <ion-option value="mute_inf">Until I turn it back on</ion-option>
        </ion-select>-->

        <ion-select [(ngModel)]="id_UAlt" interface="action-sheet" (ionChange)="onChange($event)">
          <ion-option *ngFor="let ua of listUM" value="{{ ua.Id_UM }}" >{{ ua.Nombre }} </ion-option>
        </ion-select>

      </ion-col>
    </ion-row>

    <!-- Fila 04 -->
    <ion-row align-items-center>
      <ion-col col-3 col-sm>
        Cantidad
      </ion-col>
      <ion-col col-3 col-sm>
        <ion-item>
            <ion-input type="Text" placeholder="0" [(ngModel)]="cantxEtq"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Fila 05 -->
    <ion-row align-items-center >
      <ion-col col-3 col-sm>
        #Etq.
      </ion-col>

      <ion-col col-3 col-sm>
        <ion-item>
            <ion-input type="Text" placeholder="0" [(ngModel)]="numEtq" (input)="numEtqTextChange($event)"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-3 col-sm>
        Etq. saldo
      </ion-col>

      <ion-col col-3 col-sm>
        <ion-item>
            <ion-input type="Text" placeholder="0" [(ngModel)]="cantEtqSaldo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Fila 06 -->
    <ion-row align-items-center>
      <ion-col col-5 col-sm item-inner>
          Formato
        </ion-col>
        <ion-col col-7 col-sm>
          <ion-select [(ngModel)]="id_FormatLabel" interface="action-sheet">
              <ion-option *ngFor="let f of formatLabels" value="{{ f.Id_Format }}">{{ f.Label }}</ion-option>
          </ion-select>
        </ion-col>
    </ion-row>

    <!-- Fila 07 -->
    <ion-row align-items-center>
      <ion-col col-5 col-sm item-inner>
          Sub almacén
        </ion-col>
        <ion-col col-7 col-sm>
          <ion-select [(ngModel)]="id_SubAlm" interface="action-sheet">
            <ion-option *ngFor="let sa of listSubAlm" value="{{ sa.Id_SubAlmacen }}" >{{ sa.NombreSubAlmacen }} </ion-option>
          </ion-select>
        </ion-col>
    </ion-row>

    <!-- Fila 08 -->
    <ion-row align-items-center>
      <ion-col col-3 col-sm>
        Copias
      </ion-col>
      <ion-col col-3 col-sm>
        <ion-item>
            <ion-input type="Text" placeholder="0" [(ngModel)]="numCopia"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 col-sm>
        <div class="totalSuma">{{ totalSuma }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only small (click)="imprimirEtiqueta()" #iBtnSave>
          <ion-icon name="label" name="md-barcode"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
        <button ion-button icon-only small (click)="goToEtqPage03()" #iBtnUbicar>
            <ion-icon name="map"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>