page-etiquetado-page-03 {
    .etq03-card-col{
        padding: 0px !important;
    }

    .etq03-card-label{
        margin: 0px !important;
    }

    //No espacios a la derecha ni borde inferior - IonInput
    .item-md.item-block .item-inner {
        padding-right: 0px !important;
        border-bottom: none !important;
    }
    .no-padding-left {
        padding-left: 0px !important;
    }
}
